/* Call fonts */
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* set My variable */
:root {
  --black-color: #000;
  --nav-links-color: #fff;
  --bg-light: #f8fafc;
  --hover-color: #cc0000;
  --font-main: "Poppins", sans-serif;
  --fs-h1: clamp(1.8rem, 2vw + 1rem, 3rem);
  --fs-h2: clamp(1.4rem, 1.5vw + 1rem, 2.4rem);
  --fs-h3: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  --fs-p: clamp(0.9rem, 0.5vw + 0.8rem, 1.2rem);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  background-color: #111;
}

a {
  text-decoration: none;
}

p {
  text-justify: inter-word;
  hyphens: auto;
  word-spacing: -0.05em;
}

/* =======================================
    Grands écrans (1280px - 1600px)
   ======================================= */

.navbar {
  position: fixed;
  width: 98%;
  z-index: 9999;
  background-color: #000000e2;
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* LOGO */
.logo {
  color: var(--nav-links-color);
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Nav-links */
.nav-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}

.nav-links ul {
  text-align: center;
}

.nav-links li {
  list-style: none;
}

/* .nav-links li .active-link{
  position: relative;
  color: var(--hover-color);
}

.nav-links li .active-link::after{
  content: "";
  position: absolute;
  left: 7px;
  bottom: -3px;
  width: 70%;
  height: 2px;
  background-color: var(--hover-color);
} */

.nav-links li a {
  position: relative;
  color: var(--nav-links-color);
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.4rem;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--nav-links-color);
  transition: all 0.4s ease-in-out;
}

.nav-links li a:hover {
  color: var(--hover-color);
}

.nav-links li a:hover::after {
  width: 70%;
  background-color: var(--hover-color);
}

/* Menu hamburger */
.hamburger {
  display: none;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 8.5rem 1.6rem;
}

/* Banner image */
#banner img {
  width: 35%;
  object-fit: cover;
  border-radius: 1.3rem;
  box-shadow: 0 10px 15px -3px rgba(239, 239, 239, 0.477);
  /* filter: drop-shadow(0 5px 15px var(--black-color));
  align-items: center; */
}

.profil-infos {
  width: 50%;
}

/* Banner Title */
.profil-infos h1 {
  color: var(--nav-links-color);
  font-size: 3.6rem;
  line-height: 1.1em;
  margin-bottom: 1rem;
}

.profil-infos h1 span {
  color: var(--hover-color);
}

.profil-infos h2 {
  color: var(--nav-links-color);
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* Banner Description */
.profil-infos p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--nav-links-color);
  margin-bottom: 5rem;
}

.btn-first-style {
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--hover-color);
  padding: 0.6rem 2rem;
  color: var(--nav-links-color);
  border-radius: 1.8rem;
  border: solid 2px var(--hover-color);
  transition: all 0.4s ease-in-out;
}

.btn-first-style:hover {
  border-color: var(--nav-links-color);
  color: var(--nav-links-color);
}

#about {
  background-color: var(--bg-light);
  padding: 3rem 1.6rem;
}

#about h1 {
  text-transform: uppercase;
  color: var(--black-color);
  font-size: 3.3rem;
  line-height: 1.25em;
  text-align: center;
}

#about h1 span {
  color: var(--hover-color);
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.about-container img {
  width: 40%;
  height: 60vh;
  object-fit: cover;
}

.about-infos {
  width: 53%;
}

#about h2,
.about-infos h2 {
  font-size: 2.3rem;
  color: var(--hover-color);
  margin-bottom: 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  place-items: center;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
}

.skill-item {
  border: solid 1px var(--black-color);
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--black-color);
  border-radius: 10px;
  transition: all 0.6s ease-in;
}

.skill-item:hover {
  border-color: var(--hover-color);
  border-width: 3px;
  color: var(--hover-color);
}

.about-infos p {
  font-size: 1.1rem;
  text-align: justify;
}

.experiences-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.item {
  border: solid 1px var(--black-color);
  background-color: #fd767a;
  border-radius: 20px;
  padding: 0.7rem 1.1rem;
  transition: all 0.4s ease;
}

.item:hover {
  transform: scale(1.1);
}

.item h3 {
  font-size: 2.1rem;
  margin: 5px 0;
}

.item p {
  text-align: initial;
  line-height: 1.2em;
  margin: 5px 0;
}

/* Infinite Slider */
.slider {
  overflow: hidden;
  padding: 3rem 1.6rem;
  position: relative;
  width: 100%;
}

.slider-container {
  display: flex;
  width: calc(15rem * 9); /* largeur = nombre total d’images × largeur image */
  animation: scroll 20s linear infinite;
}

.slide {
  width: 12.5%;
  height: 30vh;
  flex-shrink: 0;
  text-align: center;
  align-content: center;
}

.slide i {
  font-size: 7rem;
  line-height: 1rem;
  margin: auto;
  text-align: center;
  padding: 2.2rem 1.5rem 0 1.5rem;
  border-radius: 10px;
}

.html {
  color: #fff;
  background-color: #dd4b25;
}

.css {
  color: #fff;
  background-color: #1d7abd;
}

.js {
  color: #000;
  background-color: #f3e224;
}

.bootstrap {
  color: #7434f8;
}

.react {
  color: #08d9ff;
}

.wordpress {
  color: #28799e;
}

.github {
  color: #2b3034;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Project section */

#project {
  padding: 3rem 1.6rem;
}

#project h1 {
  text-transform: uppercase;
  color: var(--nav-links-color);
  font-size: 3.3rem;
  line-height: 1.25em;
  text-align: center;
}

#project h1 span {
  color: var(--hover-color);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-content: center;
  grid-template-rows: 1fr;
  gap: 2.3rem;
  margin-top: 5rem;
}

.project-container div {
  width: 82%;
  background-color: var(--bg-light);
  border-radius: 20px;
  padding: 1.3rem 1.7rem;
  box-shadow: 0px 0px 12px 3px rgba(222, 222, 222, 0.578);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container div:hover {
  box-shadow: 0px 0px 12px 3px rgba(222, 222, 222, 0.578),
    0px 10px 15px 3px rgba(222, 222, 222, 0.578);
}

.project-container div img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.project-container div h2 {
  font-size: 2.3rem;
  color: var(--hover-color);
  line-height: 1.2em;
  margin-bottom: 0;
}

.project-container div p {
  font-size: 1.1rem;
  line-height: 1.2em;
  text-align: justify;
}

.project-container ul {
  font-size: 1.1rem;
  line-height: 1.4em;
}

.btn-second-style {
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--black-color);
  padding: 0.6rem 2rem;
  color: var(--nav-links-color);
  border-radius: 1.8rem;
  border: solid 2px var(--black-color);
  margin-top: auto; /* pousse le bouton au bas de la carte */
  display: inline-block;
  align-self: flex-start;
  transition: all 0.4s ease-in-out;
}

.btn-second-style:hover {
  background-color: var(--hover-color);
  border: solid 2px var(--hover-color);
}

#services {
  padding: 3rem 1.6rem;
  background-color: var(--bg-light);
}

#services h1 {
  text-transform: uppercase;
  color: var(--black-color);
  font-size: 3.3rem;
  line-height: 1.25em;
  text-align: center;
}

#services h1 span {
  color: var(--hover-color);
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 3rem;
}

.services-presentation {
  width: 83%;
  align-content: center;
}

.services-presentation h2 {
  font-size: 2.3rem;
  color: var(--hover-color);
  margin-bottom: 0;
}

.services-presentation p {
  font-size: 1.1rem;
  line-height: 1.2em;
}

.services-details {
  align-content: center;
  width: 95%;
}

.services-details div {
  padding: 1rem 1.5rem;
  background-color: var(--nav-links-color);
  border-radius: 18px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: solid 6px var(--hover-color);
  border-top: solid 1px rgba(237, 237, 237, 0.708);
  border-bottom: solid 1px rgba(237, 237, 237, 0.66);
  box-shadow: 0px 0px 12px 3px rgba(222, 222, 222, 0.482);
  transition: all 0.6s ease-in-out;
}

.services-details div:hover {
  box-shadow: 0 10px 15px -3px rgba(206, 206, 206, 0.65),
    0 10px 15px -3px rgba(206, 206, 206, 0.65);
}

.services-details div h3 {
  font-size: 2.1rem;
  line-height: 1.2em;
  margin: 0;
}

.services-details div p {
  font-size: 1.1rem;
  line-height: 1.2em;
}

.services-details div a {
  font-size: 1.3rem;
  color: var(--hover-color);
  transition: all 0.4s ease-in-out;
}

#contact {
  padding: 3rem 1.6rem;
}

#contact h1 {
  text-transform: uppercase;
  color: var(--nav-links-color);
  font-size: 3.3rem;
  line-height: 1.25em;
  text-align: center;
}

#contact h1 span {
  color: var(--hover-color);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.contact-infos {
  padding: 1rem;
}

.contact-infos h2 {
  color: var(--nav-links-color);
  font-size: 2.3rem;
  margin: 0;
}

.contact-infos p {
  color: var(--nav-links-color);
  font-size: 1.1rem;
  line-height: 1.2em;
}

.info-detail {
  display: flex;
  margin: 2.3rem 0;
  padding: 1.2rem;
  width: 70%;
  transition: all 0.4s ease-in;
}

.info-detail i {
  color: var(--hover-color);
  font-size: 2.1rem;
  margin-right: 1rem;
  padding: 1.2rem 1.3rem 0.6rem 1.3rem;
  background-color: var(--bg-light);
  border-radius: 20px;
  transition: all 0.4s ease-in;
}

.info-detail div {
  margin: auto 0;
}

.info-detail div h6 {
  color: var(--nav-links-color);
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
}

.info-detail div p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  line-height: 1.2em;
}

.info-detail:hover {
  box-shadow: 0px 0px 15px 3px var(--hover-color);
  background: var(--black-color);
  border-radius: 20px;
}

.info-detail:hover i {
  background-color: var(--hover-color);
  color: var(--nav-links-color);
}

.social-icon a i {
  font-size: 2.1rem;
  color: var(--hover-color);
  padding: 1rem 1.1rem 0.4rem 1.1rem;
  margin-right: 1rem;
  transition: all 0.4s ease-in;
}

.social-icon a i:hover {
  background-color: var(--hover-color);
  border-radius: 20px;
  color: var(--nav-links-color);
}

.form-contact {
  padding: 1rem;
  margin-right: 2rem;
}

.form-contact p {
  color: var(--nav-links-color);
  font-size: 1.1rem;
  line-height: 1.2em;
}

.form-contact {
  padding-bottom: 1rem;
}

input,
textarea {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 2px;
  border-color: var(--nav-links-color);
  padding: 1.2rem 0.5rem;
  font-size: 1.1rem;
  outline: none;
  width: 97%;
  color: var(--bg-light);
  margin-bottom: 1.1rem;
  transition: all 0.5s ease;
}

input::placeholder,
textarea::placeholder {
  color: var(--nav-links-color);
  transition: all 0.5s ease;
}

input:hover,
textarea:hover {
  border-color: var(--hover-color);
}

input:hover,
textarea:hover input::placeholder:hover,
textarea::placeholder {
  color: var(--hover-color);
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: var(--hover-color);
}

.form-contact form div {
  display: flex;
  justify-content: space-between;
}

.form-contact form div input:first-child {
  margin-right: 1.5rem;
}

.form-contact form div {
  width: 100%;
}

.form-contact form button {
  margin: 1rem auto;
  text-transform: uppercase;
  background-color: var(--hover-color);
  padding: 0.6rem 2rem;
  color: var(--nav-links-color);
  border-radius: 10px;
  border: solid 2px var(--hover-color);
  transition: all 0.4s ease-in-out;
}

.form-contact form button:hover {
  border-color: var(--nav-links-color);
}

footer {
  background-color: var(--black-color);
  padding: 2rem 1.6rem 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact h6 {
  color: var(--hover-color);
  font-size: 0.8rem;
  margin: 0;
}

.footer-contact p {
  color: var(--nav-links-color);
  font-size: 0.7rem;
  margin: 0 0 1rem 0;
}

.fast-link a {
  font-size: 1rem;
  color: var(--nav-links-color);
  margin-right: 0.2rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in;
}

.fast-link a:hover {
  color: var(--hover-color);
}

.footer-social a i {
  font-size: 1.1rem;
  color: var(--hover-color);
  padding: 0.3rem 0.35rem 0.1rem 0.35rem;
  margin-right: 0.2rem;
  transition: all 0.3s ease-in;
}

.footer-social a i:hover {
  color: var(--nav-links-color);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  color: var(--hover-color);
  font-size: 0.6rem;
}

/* =======================================
   🖥️ Très grands écrans (1600px+)
   ======================================= */
@media (min-width: 1601px) {
  .navbar {
    padding: 1.3rem 3rem;
  }

  /* LOGO */
  .logo {
    font-size: calc(2vw + 2rem);
  }

  .nav-links {
    gap: 1.3rem;
  }

  .nav-links li a {
    font-size: calc(1vw + 0.7rem);
  }

  .profil-infos {
    width: 55%;
  }

  #banner {
    padding: 15rem 3rem 10rem;
  }

  .profil-infos h1 {
    font-size: calc(2vw + 5rem);
    line-height: calc(1vh + 7.2rem);
    margin-bottom: 0;
  }

  .profil-infos h2 {
    font-size: calc(2vw + 2.5rem);
  }

  .profil-infos p {
    font-size: calc(1vw + 1rem);
    line-height: 1.4em;
  }

  .profil-infos div .btn-first-style {
    margin-right: 1.9rem;
  }

  .btn-first-style {
    padding: 0.8rem 2.2rem;
    font-size: calc(1vw + 1rem);
    border-radius: 7rem;
  }

  #about {
    padding: 4rem 3rem;
  }

  #about h1 {
    font-size: calc(2vw + 4.5rem);
    line-height: calc(1vh + 7.2rem);
  }

  #about h2,
  .about-infos h2 {
    font-size: calc(2vw + 2.8rem);
  }

  .about-infos p {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
  }

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem 0;
  }

  .skill-item {
    font-size: calc(1vw + 0.5rem);
    padding: 2.5rem 0;
  }

  .item h3 {
    font-size: calc(1vw + 1.5rem);
  }

  .slide {
    width: 25%;
  }

  .slide i {
    font-size: calc(4vw + 11.5rem);
  }

  #project {
    padding: 4rem 3rem;
  }

  #project h1 {
    font-size: calc(2vw + 4.5rem);
    line-height: calc(1vh + 7.2rem);
  }

  .project-container {
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .project-container div {
    padding: 1.5rem 2rem;
  }

  .project-container div h2 {
    font-size: calc(2vw + 2.8rem);
    line-height: 1.2em;
  }

  .project-container div p {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
  }

  .project-container ul {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
  }

  .btn-second-style {
    padding: 0.8rem 2.2rem;
    font-size: calc(1vw + 1rem);
    border-radius: 7rem;
  }

  #services {
    padding: 4rem 3rem;
  }

  #services h1 {
    font-size: calc(2vw + 4.5rem);
    line-height: calc(1vh + 7.2rem);
  }

  .services-presentation h2 {
    font-size: calc(2vw + 2.8rem);
  }

  .services-presentation p {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
  }

  .services-details div {
    padding: 1.5rem 2rem;
  }

  .services-details div h3 {
    font-size: calc(1vw + 1.5rem);
  }

  .services-details div p {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
  }

  .services-details div a {
    font-size: calc(1vw + 1rem);
  }

  #contact {
    padding: 4rem 3rem;
  }

  #contact h1 {
    font-size: calc(2vw + 4.5rem);
    line-height: calc(1vh + 7.2rem);
  }

  .contact-infos h2 {
    font-size: calc(2vw + 2.8rem);
  }

  .contact-infos p {
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
    margin-bottom: 4rem;
  }

  .info-detail i {
    font-size: calc(1vw + 1rem);
    padding: 1.4rem 1.5rem 0.8rem 1.5rem;
    margin-right: 2rem;
  }

  .info-detail div h6 {
    font-size: calc(1vw + 0.1rem);
  }

  .info-detail div p {
    font-size: calc(1vw + 0.4rem);
  }

  .social-icon {
    margin-top: 4rem;
  }

  .social-icon a i {
    font-size: calc(2vw + 1rem);
    padding: 1.4rem 1.5rem 0.8rem 1.5rem;
  }

  .form-contact p {
    margin-top: 5rem;
    font-size: calc(1vw + 0.5rem);
    line-height: 1.4em;
    margin-bottom: 4rem;
  }

  input,
  textarea {
    font-size: calc(1vw + 0.7rem);
    padding: 1.4rem 0.7rem;
    margin-bottom: 4rem;
    border-width: 3px;
  }

  .form-contact form button {
    padding: 0.8rem 2.2rem;
    font-size: calc(1vw + 1rem);
    border-radius: 20px;
    border-width: 4px;
  }

  footer {
    padding: 4rem 3rem;
  }

  .footer-contact h6 {
    font-size: calc(0.8vw + 0.4rem);
  }

  .footer-contact p {
    font-size: calc(0.8vw + 0.1rem);
  }

  .fast-link a {
    font-size: calc(1vw + 0.4rem);
  }

  .footer-social a i {
    font-size: calc(1vw + 0.4rem);
  }

  .copyright p {
    font-size: calc(0.5vw + 0.1rem);
  }
}

/* =======================================
    Laptops / écrans moyens (993px - 1280px)
   ======================================= */
@media (max-width: 1280px) {
  .navbar {
    padding: 0.8rem 0.5rem;
    width: 99%;
  }

  .logo {
    font-size: calc(1vw + 1.5rem);
  }

  .nav-links {
    gap: 0.4rem;
  }

  .nav-links li a {
    font-size: calc(0.5vw + 0.7rem);
  }

  .profil-infos {
    width: 55%;
  }

  .profil-infos h1 {
    font-size: calc(2vw + 2.4rem);
    line-height: calc(1vh + 3.3rem);
    margin-bottom: 2rem;
  }

  .profil-infos h2 {
    font-size: calc(2vw + 1.1rem);
    line-height: 1.2em;
  }

  .profil-infos p {
    font-size: calc(0.5vw + 0.7rem);
    line-height: 1.4em;
    margin-bottom: 3rem;
  }

  .project-container ul {
    font-size: calc(0.5vw + 0.7rem);
    line-height: 1.4em;
  }

  .profil-infos div .btn-first-style {
    margin-right: 1rem;
  }

  .btn-first-style {
    font-size: calc(0.5vw + 0.7rem);
  }

  .about-infos h1 {
    font-size: calc(2vw + 2.5rem);
    line-height: calc(1vh + 3.2rem);
  }

  #about h2,
  .about-infos h2 {
    font-size: calc(2vw + 1.2rem);
  }

  .about-infos p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .skill-item {
    font-size: calc(0.5vw + 0.6rem);
    padding: 1.3rem 0;
  }

  .experiences-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .item h3 {
    font-size: calc(1vw + 1rem);
  }

  .slide {
    width: 13%;
  }

  .slide i {
    font-size: calc(4vw + 5.2rem);
  }

  #project h1 {
    font-size: calc(2vw + 2.5rem);
    line-height: calc(1vh + 3.2rem);
  }

  .project-container {
    margin-bottom: 5rem;
    place-items: center;
  }

  .project-container div {
    padding: 2rem 1.5rem;
  }

  .project-container div h2 {
    font-size: calc(2vw + 1.2rem);
  }

  .project-container div p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .btn-second-style {
    font-size: calc(0.5vw + 0.7rem);
    margin-top: 5rem;
  }

  #services h1 {
    font-size: calc(2vw + 2.5rem);
    line-height: calc(1vh + 3.2rem);
  }

  .services-presentation h2 {
    font-size: calc(2vw + 1.2rem);
  }

  .services-presentation p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .services-details div h3 {
    font-size: calc(1vw + 1.1rem);
  }

  .services-details div p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .services-details div a {
    font-size: calc(0.5vw + 0.7rem);
  }

  #contact h1 {
    font-size: calc(2vw + 2.5rem);
    line-height: calc(1vh + 3.2rem);
  }

  .contact-infos h2 {
    font-size: calc(2vw + 1.2rem);
    line-height: 1.2em;
  }

  .contact-infos p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
    margin-bottom: 2rem;
  }

  .info-detail i {
    font-size: calc(1vw + 1rem);
    padding: 1.4rem 1.5rem 0.8rem 1.5rem;
    margin-right: 2rem;
  }

  .info-detail div h6 {
    font-size: calc(1vw + 0.1rem);
  }

  .info-detail div p {
    font-size: calc(0.5vw + 0.6rem);
  }

  .social-icon {
    margin-top: 4rem;
  }

  .social-icon a i {
    font-size: calc(1vw + 1rem);
    padding: 1.1rem 1.2rem 0.5rem 1.2rem;
  }

  .form-contact p {
    margin-top: 3rem;
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
    margin-bottom: 2rem;
  }
}

/* =======================================
    Petits laptops / tablettes paysage (577px - 992px)
   ======================================= */
@media (max-width: 992px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100vw; /* commence caché */
    width: 40vw; /* largeur moitié d'écran */
    height: 100vh;
    background-color: #000000e2;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.7rem;
    transition: right 0.4s ease-in-out;
    padding-top: 5rem;
    margin-top: 0;
  }

  .nav-links li a {
    font-size: 1rem;
    color: var(--nav-links-color);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    display: inline-block;
  }

  .nav-links.show {
    right: 0;
  }

  /* Affiche le hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10001;
  }

  /* Style du hamburger */
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px;
    background: var(--nav-links-color);
    transition: 0.4s;
  }

  /* Animation hamburger → croix */
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .profil-infos h1 {
    font-size: calc(2vw + 1.7rem);
    line-height: calc(1vh + 2.2rem);
    margin-bottom: 1rem;
  }

  .profil-infos h2 {
    font-size: calc(1vw + 1.4rem);
    line-height: calc(1vh + 1.7rem);
  }

  .profil-infos p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
    margin-bottom: 3rem;
  }
  .profil-infos div .btn-first-style {
    margin-right: 0.5rem;
  }

  .btn-first-style {
    font-size: calc(0.5vw + 0.5rem);
  }

  .about-infos h1 {
    font-size: calc(2vw + 1.7rem);
    line-height: calc(1vh + 2.2rem);
  }

  #about h2,
  .about-infos h2 {
    font-size: calc(2vw + 0.9rem);
    text-align: center;
  }

  .about-infos p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
    text-align: center;
  }

  .experiences-container {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    width: 100%;
    place-content: center;
  }

  .about-container {
    flex-direction: column;
    width: 100%;
  }

  .about-container img {
    width: 100%;
    object-fit: contain;
  }

  .about-infos {
    width: 100%;
    margin-right: 1rem;
  }

  .item h3 {
    font-size: calc(2vw + 0.5rem);
    text-align: center;
  }

  .slide {
    width: 12%;
  }

  .slide i {
    font-size: calc(4vw + 3.2rem);
  }

  #project h1 {
    font-size: calc(2vw + 1.7rem);
    line-height: calc(1vh + 2.2rem);
  }

  .project-container {
    place-items: center;
  }

  .project-container div {
    width: 70%;
    margin-bottom: 3rem;
  }

  .project-container div h2 {
    font-size: calc(2vw + 0.9rem);
  }
  .project-container div img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .project-container div p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .project-container ul {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
  }

  .btn-second-style {
    font-size: calc(0.5vw + 0.5rem);
    margin-top: 5rem;
  }

  #services h1 {
    font-size: calc(2vw + 1.7rem);
    line-height: calc(1vh + 2.2rem);
  }

  .services-container {
    flex-direction: column;
  }

  .services-presentation {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .services-presentation h2 {
    font-size: calc(2vw + 0.9rem);
    text-align: center;
  }

  .services-presentation p {
    font-size: calc(0.5vw + 0.6rem);
    line-height: 1.4em;
    text-align: center;
  }

  .services-details {
    width: 100%;
  }

  .services-details div h3 {
    font-size: calc(2vw + 0.5rem);
  }

  .services-details div p {
    font-size: calc(0.5vw + 0.6rem);
  }

  .services-details div a {
    font-size: calc(0.5vw + 0.5rem);
  }

  #contact h1 {
    font-size: calc(2vw + 1.7rem);
    line-height: calc(1vh + 2.2rem);
  }

  .contact-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-contact {
    margin-right: 0;
  }

  .form-contact p {
    font-size: calc(0.5vw + 0.6rem);
    text-align: center;
  }

  input,
  textarea {
    font-size: calc(0.5vw + 0.6rem);
  }

  .form-contact form button {
    display: block;
    margin: 1rem auto;
    font-size: calc(0.5vw + 0.5rem);
  }

  .contact-infos h2 {
    font-size: calc(2vw + 0.9rem);
    line-height: 1.2em;
    text-align: center;
  }

  .contact-infos p {
    text-align: center;
    font-size: calc(0.5vw + 0.6rem);
  }

  .info-detail {
    margin: 0.6rem 0;
  }

  .info-detail i {
    font-size: calc(0.5vw + 0.8rem);
    padding: 1.1rem 1.2rem 0.5rem 1.2rem;
  }

  .info-detail div h6 {
    font-size: calc(1vw + 0.3rem);
  }

  .info-detail div p {
    font-size: calc(1vw + 0.4rem);
  }

  .social-icon {
    display: flex;
    justify-content: center;
  }

  .social-icon a i {
    font-size: calc(0.5vw + 0.8rem);
    padding: 1.1rem 1.2rem 0.5rem 1.2rem;
    margin-right: 0.2rem;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
  }

  .footer-contact {
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer-contact h6 {
    font-size: calc(1vw + 0.4rem);
  }

  .footer-contact p {
    font-size: calc(1vw + 0.3rem);
  }

  .fast-link {
    margin-bottom: 1.5rem;
  }

  .fast-link a {
    text-align: center;
  }

  .footer-social {
    margin-bottom: 1.2rem;
  }

  .copyright p {
    font-size: 0.5rem;
  }
}

/* =======================================
    Téléphones standards (481px - 668px)
   ======================================= */
@media (max-width: 668px) {
  #banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 1.6rem;
  }

  #banner img {
    width: 65%;
    border-radius: 50%;
    box-shadow: none;
    border: solid 6px var(--hover-color);
    margin-bottom: 2rem;
  }

  .profil-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .profil-infos h2 {
    text-align: center;
    font-size: calc(2vw + 1.1rem);
  }

  .profil-infos h1 {
    text-align: center;
  }

  .profil-infos p {
    text-align: center;
  }

  .profil-infos div {
    display: block;
    margin: 0 auto;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
  }

  .slide {
    width: 10%;
  }

  .slide i {
    font-size: calc(4vw + 2.5rem);
  }

  .name-infos {
    flex-direction: column;
  }

  .fast-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .fast-link a {
    text-align: center;
  }

  .fast-link {
    margin-bottom: 2rem;
  }

  .copyright p {
    font-size: 0.4rem;
  }
  
}
